.d-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.d-i-f {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.f-d-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.f-d-r-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.a-i-c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.a-i-f-e {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.j-c-c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.j-c-s-b {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.hide{
    display: none;
}
.j-c-f-e {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.j-c-s-e {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.no-gutters [class^="col-"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
/****************/

.custom-left-content img {
    width: 100% !important;
    height: 235px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
.listing-head {
    display: block;
    position: relative;
}
.right-content h4.padding-rt {
    padding-right: 70px;
}
.right-content h4 {
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}
.listing-action-btns {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.right-content ul.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.price-review-detail p, .price-review-detail span {
    font-size: 14px;
    display: inline-block;
}
.right-content hr {
    margin: 12px 0px;
}


.right-content p.detail {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    color: #6d6d6d;
    margin-bottom: 10px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 55px;
}
.social-links.listing-social {
    margin-bottom: 12px;
}
.social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.social-links li {
    padding: 0px 10px;
}
.social-links li:last-child {
    padding-right: 0;
}
.right-content ul.inner-list {
    position: relative;
    padding: 0 6px 0 15px;
}
.vendor-del-rating.right-content ul.inner-list{
 padding: 0px;
}

.right-content ul.rating li a {
    color: #eea31e;
    font-size: 14px;
}
.right-content p.review {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 0px;
}
.right-content ul.inner-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.listing-social.social-links li a {
    color: #333;
}
.social-links li a {
    font-size: 15px;
    color: #aeb1b7;
}
.mini-btn-wrap .cstm-btn{
    font-size: 11px;
    padding: 7px 17px;
}
.mini-btn-wrap .cstm-btn.resetRadio {
padding: 3px 10px;
}
.social-links li:first-child {
    padding-left: 0;
}
.list-icon-btn {
    height: 35px;
    width: 35px;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    color: #35486b;
    font-size: 16px;
    border: 2px solid #36496c;
    font-weight: 400;
    font-size: 16px;
}
.list-icon-btn:hover{
    background: #36496c;
    color: #fff;
}
.list-icon-btn.fav-active{
    color: red;
    border-color: red
}
.list-icon-btn.fav-active:hover{
    background: red;
    color: #fff;
}
.cstm-btn.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.cstm-btn.btn-danger:hover, .cstm-btn.btn-danger:focus{
    background: transparent;
    color:#dc3545; 
}

/*cstm-checkboxes*/

.checkbox-input-wrap {
    padding: 15px;
    background: #f2f2f3;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 8px;
    position: relative;
}
.category-checkboxes.category-title {
    font-size: 17px;
}
.category-checkboxes label {
    padding-left: 50px;
    line-height: 30px;
    margin-bottom: 0px;
    position: relative;
}
.category-checkboxes label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #36496c;
}
.category-checkboxes input:checked ~ label:after {
    display: block;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.category-checkboxes input {
    opacity: 0;
    position: absolute;
}
.category-checkboxes input:checked ~ label:before {
    background: #eda208;
}
.category-checkboxes label::after {
    height: 30px;
    width: 30px;
    content: "✔";
    font-size: 18.6667px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: rgb(255, 255, 255);
    display: none;
}
.payment-table label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 11px;
}



.custom-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #11111169;
    z-index: 99;
    display: none;
}
.custom-loading {
    position: fixed !important;
    height: 100vh;
    background: rgba(0,0,0,0.8) !important;
    text-align: center;
    z-index: 9999999;
}



.loader5 {
  display:inline-block;
  width: 0;
    height:0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #36496c;
  border-top: 30px solid #eda208;
   -webkit-animation: loader5 1.6s ease-in-out infinite alternate;
   animation: loader5 1.6s ease-in-out infinite alternate;
   position: absolute;
   top: 50%;
   left: 46%;
   -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
}

@keyframes loader5 {
   from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
   to {-webkit-transform: rotate(720deg);transform: rotate(720deg);}
}
@-webkit-keyframes loader5 {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(720deg);}
}
.inn-form-group label{
    color: #6d6d6d;
    font-weight: 500;
    font-size: 15px;
}

.error {
    display: block;
    color: #c22;
    position: absolute;
    left: 0;
    top: 100%;
    font-weight: 400!important;
    font-size:12px;
    line-height: 1;
    margin-top: 3px;
}
form .form-group {
    margin-bottom: 20px;
    position: relative;
}


/*countdown timer css*/
.countdown-timer-container {
    text-align: center;
    margin-top: 30px;
    display: block;
}
.countdown-timer-container .count-down-timer li span {
    display: block;
    font-size: 24px;
    color: #eda108;
    font-weight: bold;
    background: #35486b;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px;
}
.countdown-timer-container .count-down-timer li {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 70px;
    border-radius: 6px;
    margin-right: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
}
.countdown-timer-container .count-down-timer li:last-child{
    margin-right: 0px;
}

/*chatbox css*/
.recommended-vedor{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.recommended-vedor figure {
    width: 80px;
    height: 65px;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    border-radius: 3px;
    overflow: hidden;
}
.rec-card {
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: block;
    margin-bottom: 30px;
}
.rec-heading {
    font-size: 22px;
    font-weight: bold;
    color: #eda009;
    margin-bottom: 20px;
}
.rec-detail {
    width: calc(100% - 90px);
    display: inline-block;
    max-height: 70px;
    overflow: hidden;
}
.rec-detail h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.rec-detail p {
    color: #565555;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.recommended-vedor figure img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
/*countdown timer*/
.cstm-card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cstm-card-head .card-title {
    font-size: 22px;
    color: #333333;
    font-weight: bold;
}
.count-down-timer li {
    display: inline-block;
    font-size: 12px;
    list-style-type: none;
    padding: 0px 6px;
    text-transform: uppercase;
    text-align: center;
    color: #333;
}
.count-down-timer li span {
    display: block;
    font-size: 20px;
    color: #eda108;
}
.sidebar-body .countdown-timer-container .count-down-timer li {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 60px;
    border-radius: 6px;
    margin-right: 7px;
    padding: 5px;
    font-weight: bold;
    font-size: 10px;
}
.sidebar-body .countdown-timer-container .count-down-timer li span{
    font-size: 20px;
}
.sidebar-body .countdown-timer-container{
    margin-top: 15px;
}
.user-status-content .row{
    margin-right: -5px;
    margin-left: -5px;
}
.user-status-content .row [class^="col-"]{
    padding-right: 5px;
    padding-left: 5px;
}
.start-ending-date label {
    color: #000;
    font-weight: 500;
}



/*cart and order page css*/


.cart-table th {
    border: none;
    background-color: #f6f6f6;
    text-align: left;
    padding: 12px 20px;
    color: #606060;
    vertical-align: top;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
}
.cart-table td {
    padding: 10px;
    border-bottom: #c1bfbf 1px solid;
    border-top: none;
    border-right: none;
    vertical-align: middle;
}
.cart-table td p{
    font-size: 15px;
}

.cart-table.bottom .cart-btns {
    float: right;
}
.cart-table.bottom {
    width: 100%;
}
form#CouponApply {
    display: flex;
    margin-bottom: 20px;
    position: relative;
}
p.errorMSG {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 12px;
    color: #c11515;
}
.apply-coupon input {
    background-color: #fff;
    display: inline-block;
    margin: 0;
    border: 0;
    height: 35px;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    width: 100%;
}
/*.apply-coupon {
    float: left;
}*/
.action-btn-wrap {
    display: flex;
    align-items: center;
}
#wishlistItems .action-btn-wrap{
    align-items: flex-start;
}
#wishlistItems .action-btn-wrap form {
    margin-right: 6px;
}

.danger-btn {
    background: #dc3545;
    color: #fff;
}


.cart-totals .headline {
    font-size: 20px;
    background-color: #f6f6f6;
    z-index: 5;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    padding: 0px 10px;
    color: #eea31e;
    font-weight: 600;
}
.cart-totals .color-green .headline{
    color: green;
}
.cart-totals .color-danger .headline{
    color: red;
}
.headline-wrap.cart-totals{
    width: 100%;
}
.total-price-wrap {
    background: #f6f6f6;
    padding: 15px;
    border-radius: 4px;
}
.cart-totals .line {
    border-bottom: 1px solid #c1bfbf;
    width: 100%;
    float: left;
    height: 1px;
    display: inline-block;
    margin: -16px 0 25px;
}
table.cart-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: none;
}
.cart-totals .cart-table th {
    vertical-align: middle;
    border-bottom: 1px solid #fff;
    width: 40%;
    padding: 8px 10px;
}
.deal-discount-card .deal-starting-date strong {
    background: #d0d0d0;
    color: #333;
    font-weight: normal;
    padding: 0px 4px;
    margin-left: 9px;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 27px;
}
.table-cart-btn {
    background: transparent;
    font-size: 11px;
    font-weight: bold;
    border: 2px solid #eda208;
    text-transform: uppercase;
    color: #eda208;
    padding: 4px 11px;
    text-align: center;
    border-radius: 6px;
    line-height: normal;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
}

#eventAllCategories h5 {
    font-size: 18px;
    margin-bottom: 10px;
}
.user-status-content .message-wrap {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.cart-pop-inn {
    display: block;
    min-height: 340px;
}
.first-user-form .button-grp-wrap{
    justify-content: flex-end;
}
.first-user-form .button-grp-wrap .cstm-btn{
    padding: 9px 12px;
}
.pkg-pop-head:after {
    position: absolute;
    content: "";
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background: #eda208;
}
.pkg-pop-head {
    color: #eda208;
    margin-bottom: 20px;
    position: relative;
}
.open-info-pop{
    display: inline-block;
    position: relative;
}
.open-info-pop .info-pop-box {
    position: absolute;
    width: 247px;
    text-align: center;
    top: 100%;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    z-index: 11;
    max-height: 300px;
    overflow-y: auto;
    display: none;
}
.open-info-pop:hover .info-pop-box{
    display: block;
}
.cart-col-wrap {
    width: 100%;
    display: block;
    border-bottom: 1px solid #e6e6e6 !important;
    margin-bottom: 20px;
}
.cart-table-head{
    display: block;
    padding: 10px;
    width: 100%;
    background:#eea31e;
}

.cart-table-head h3{
font-size: 16px;
    font-weight: 500;
    color: #fff;
}

figure.cart-tab-img {
    max-width: 125px;
    max-height: 100px;
}
.car-col-body {
    padding: 10px;
    display: block;
}
.cart-item-link {
    font-size: 17px;
    color: #212121;
    line-height: 1;
    display: inline;
    font-weight: 600;
}
.cart-item-des p {
    display: inline-block;
    color: #878787;
    font-size: 14px;
}
.vendor-del-rating p {
    margin-right: 10px;
}
.vendor-del-rating {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.inner-list.rating-stars li a {
    color: #eea31e;
    font-size: 14px;
}
.cart-price-line {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.off-price {
    font-size: 14px;
    font-weight: 500;
    color: #212121;
    display: inline-flex;
    flex-direction: column;
    margin-right: 10px;
}
.main-price {
    color: #878787;
    font-size: 14px;
}
.cart-price-line>p, .cart-price-line>a {
    color: #b58ec3;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}
.cart-price-line .demo-app {
    margin-left: 10px;
}
.demo-app i {
    margin-left: 2px;
    font-size: 20px;
    margin-bottom: 2px;
    color: #b58ec3;
    cursor: pointer;
}
.icon-btn.add-pkg-icon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    font-size: 10px;
}
.color-highlight {
    color: #eea31e !important;
}
.cart-addon-listing li{
  position: relative;
  padding-left:10px;
  position: relative;
  font-size: 14px;
  color: #878787;
  display: flex;
  justify-content: space-between;
}
.cart-addon-listing li> span:first-child{
    margin-right: 10px;
    width: calc(100% - 20px);
    text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
}

.cart-addon-listing li:after {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #35476b;
    content: "";
    border-radius: 50%;
    left: 0;
    top: 8px;
}
.btn-outer-wrap {
    display: block;
    width: 100%;
}
.cart-table.bottom th {
    text-align: right;
}
/*.cart-items-wrap .icon-btn {
    width: 25px;
    height: 25px;
    font-size: 10px;
    }*/

        .hasToggle{
        position: relative;
        display: inline-block;
    }

.toggle-info-dropdown {
    position: absolute;
    background: #fff;
    padding: 15px;
    width: 270px;
    top: 100%;
    z-index: 999;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    display: none;
}
.toggle-info-dropdown p{
    font-size: 14px;
}
    .hasToggle:hover .toggle-info-dropdown{
        display: block;
    }
.toggle-info-dropdown .deal_life {
    font-size: 15px;
    margin-bottom: 10px;
    color: #333;
}
.toggle-info-dropdown .table td, .toggle-info-dropdown .table th {
    font-size: 13px;
    padding: 8px 0px;
}
.toggle-info-dropdown .table td{
    color: #333;
    font-weight: 600;
}
.cart-price-line .toggle-info-dropdown p{
  display: inline-block;
  font-size: 14px;
}
.toggle-info-dropdown .form-info-toggle li {
    margin-bottom: 10px;
    padding-left: 10px;
    position: relative;
}
.toggle-info-dropdown .form-info-toggle li:after{
    position: absolute;
    width: 5px;
    height: 5px;
    content: "";
    background: #333;
    left: 0px;
    top: 7.5px;
    border-radius: 50%;
}
.toggle-info-dropdown .form-info-toggle li:last-child {
    margin-bottom: 0px;
    }


.promoCode strong {
    color: #b58ec3;
}

.addonTotal-price {
    font-size: 18px;
}
.addonTotal-price {
    font-size: 18px;
    color: #36486c;
    font-weight: 600;
}
.vendor-category.mini-checkbox {
    padding: 7px;
    position: relative;
}

.my-order-detail-card .car-col-body{
  height: 100%;
  margin-bottom: 0px;
}
.my-order-detail-card .cart-col-wrap{
    height: 100%;
    margin-bottom: 0px;
}
.icon-btn {
    width: 40px;
    height: 40px;
    background: #35486b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    border-radius: 4px;
    box-shadow: none;
    border: none;
}
.icon-btn:hover, .icon-btn:focus {
    background: #eda108;
    color: #fff;
}
.inner-list.rating-stars {
    margin-bottom: 0px;
}
/**************************/
.cart-col-wrap .cart-table th {
    background-color: transparent;
    text-align: left;
    padding: 3px 0px;
    color: #333;
}
.cart-col-wrap .cart-table td {
    padding: 3px 0px;
    border-bottom: 0;
    color: #333;
}
.cart-col-wrap .cart-table th:first-child, .cart-col-wrap .cart-table td:first-child{
    padding-top: 0px;
}
.thankyou-sec .action-btn-wrap {
    display: none;
}
.cart-col-wrap .cart-table .price-row th, tr.price-row td {
    color: #333;
    font-weight: bold;
    font-size: 17px;
    vertical-align: bottom;
}
.cart-col-wrap .table-box-wrap {
    padding: 10px;
    background: #ececec;
    border-radius: 5px;
}
.minus-sign {
    color: #bf1c1c;
}
.plus-sign{
    color:green;
}
.full-invoice .cart-totals .headline{
   font-size: 26px;
}
.full-invoice .cart-totals .cart-table th, .full-invoice .cart-totals .cart-table td{
   font-size: 16px;
   color: #333;
}
strong{
    font-weight: bold;
}




/*Live chatbox css*/
        .live-chatbox-wrap{
    bottom: 0;
    position: fixed;
    margin: 1em;
    right: 0;
    z-index: 998;
}
.live-chatbox-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    color: #f0f0f0;
    margin: 25px auto 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    position: fixed;
    z-index: 998;
    overflow: hidden;
    background: #b58dc3;
    bottom: 20px;
    right: 20px;
}
.live-chatbox-btn:hover, .live-chatbox-btn:focus{
    color: #fff;
}
.live-chatbox-btn.active{
    transform: rotate(360deg);
}

.live-chatbox-btn.active .fa-comment-alt:before {
    content: "\f00d";
}

/**********************/
.live-chatbox-wrap #chatbox {
    width: 290px;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    height: 484px;
    position: fixed;
    bottom: 0px;
    right: 90px;
    transform: translateY(100%);
    transition: all 0.5s ease;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.live-chatbox-wrap #chatbox.chatbox-active{
  transform: translateY(0);
}
.live-chatbox-wrap #friendslist{
    position:absolute;
    top:0;
    left:0;
    width:290px;
    height:484px;
}
.live-chatbox-wrap #topmenu{
    height:69px;
    width:290px;
    border-bottom:1px solid #d8dfe3;    
}
.live-chatbox-wrap #topmenu span{
    float:left; 
    width: 96px;
    height: 70px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/top-menu.png") -3px -118px no-repeat;
}
.live-chatbox-wrap #topmenu span.friends{margin-bottom:-1px;}
.live-chatbox-wrap #topmenu span.chats{background-position:-95px 25px; cursor:pointer;}
.live-chatbox-wrap #topmenu span.chats:hover{background-position:-95px -46px; cursor:pointer;}
.live-chatbox-wrap #topmenu span.history{background-position:-190px 24px; cursor:pointer;}
.live-chatbox-wrap #topmenu span.history:hover{background-position:-190px -47px; cursor:pointer;}
.live-chatbox-wrap .friend{
    height:70px;
    border-bottom:1px solid #e7ebee;        
    position:relative;
    float: left;
}
.live-chatbox-wrap .friend:hover{
    background:#f1f4f6;
    cursor:pointer;
}
.live-chatbox-wrap .friend img{
    width:40px;
    border-radius:50%;
    margin:15px;
    float:left;
}
.live-chatbox-wrap .floatingImg{
    width:40px;
    border-radius:50%;
    position:absolute;
    top:0;
    left:12px;
    border:3px solid #fff;
}
.live-chatbox-wrap .friend p{
    padding:9px 0 0 0;         
    float:left;
    width:220px;
}
.live-chatbox-wrap .friend p strong{
  font-weight:600;
  font-size:15px;
    color:#597a96;  

}
.live-chatbox-wrap .friend p span{
    font-size:13px;
    font-weight:400;
    color:#aab8c2;
}
.live-chatbox-wrap .friend .status{
    background:#26c281;
    border-radius:50%;  
    width:9px;
    height:9px;
    position:absolute;
    top:31px;
    right:17px;
}
.live-chatbox-wrap .friend .status.away{background:#ffce54;}
.live-chatbox-wrap .friend .status.inactive{background:#eaeef0;}
.live-chatbox-wrap #search{
    background:#e3e9ed url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/search.png") -11px 0 no-repeat;
    height:60px;
    width:290px;
    position:absolute;
    bottom:0;
    left:0;
}
.live-chatbox-wrap #searchfield{
    background:#e3e9ed;
    margin:21px 0 0 55px;
    border:none;
    padding:0;
    font-size:14px;
    font-family:"Open Sans", sans-serif; 
    font-weight:400px;
    color:#8198ac;
}
 .live-chatbox-wrap #searchfield:focus{
     outline: 0;
}
.live-chatbox-wrap #chatview{
    width:290px;
    height:484px;
    position:absolute;
    top:0;
    left:0; 
    display:none;
    background:#fff;
}
.live-chatbox-wrap #chatbox #profile{
    height:153px;
    overflow:hidden;
    text-align:center;
    color:#fff;
}
.live-chatbox-wrap #chatbox .p1 #profile{
    background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/timeline1.png") 0 0 no-repeat;
}
.live-chatbox-wrap #chatbox #profile .avatar{
    width:68px;
    border:3px solid #fff;
    margin:23px 0 0;
    border-radius:50%;
}
.live-chatbox-wrap #chatbox #profile  p{
    font-weight:600;
    font-size:15px;
    margin:118px 0 -1px;
    opacity:0;
    -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
       -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
         -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000); 
}
.live-chatbox-wrap #chatbox #profile  p.animate{
    color: #fff;
    margin-top:97px;
    opacity:1;
    -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
       -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
         -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000); 
}
.live-chatbox-wrap #chatbox #profile  span{
    font-weight:400;
    font-size:11px;
}
.live-chatbox-wrap #chat-messages{
    opacity:0;
    margin-top:30px;
    width:290px;
    height:270px;
    overflow-y:scroll;  
    overflow-x:hidden;
    padding-right: 20px;
    -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
       -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
         -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
.live-chatbox-wrap #chat-messages.animate{
    opacity:1;
    margin-top:0;
}
.live-chatbox-wrap #chat-messages label{
    color:#aab8c2;
    font-weight:600;
    font-size:12px;
    text-align:center;
    margin:15px 0;
    width:290px;
    display:block;  
}
.live-chatbox-wrap #chat-messages div.message{
    padding:0 0 30px 58px;
    clear:both;
    margin-bottom:45px;
}
.live-chatbox-wrap #chat-messages div.message.right{
      padding: 0 58px 30px 0;
      margin-right: -19px;
      margin-left: 19px;
}
.live-chatbox-wrap #chat-messages .message img{
      float: left;
      margin-left: -38px;
      border-radius: 50%;
      width: 30px;
      margin-top: 12px;
}
.live-chatbox-wrap #chat-messages div.message.right img{
    float: right;   
    margin-left: 0;
    margin-right: -38px;    
}
.live-chatbox-wrap .message .bubble{   
    background:#f0f4f7;
    font-size:13px;
    font-weight:600;
    padding:12px 13px;
    border-radius:5px 5px 5px 0px;
    color:#8495a3;
    position:relative;
    float:left;
}
.live-chatbox-wrap #chat-messages div.message.right .bubble{
    float:right;
    border-radius:5px 5px 0px 5px ;
}
.live-chatbox-wrap .bubble .corner{
    background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
    position:absolute;
    width:7px;
    height:7px;
    left:-5px;
    bottom:0;
}
.live-chatbox-wrap .message.right .corner{
    background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
    left:auto;
    right:-5px;
}
.live-chatbox-wrap .bubble span{
      color: #aab8c2;
      font-size: 11px;
      position: absolute;
      right: 0;
      bottom: -22px;
}
.live-chatbox-wrap #sendmessage{
    height:60px;
    border-top:1px solid #e7ebee;   
    position:absolute;
    bottom:0;
    right:0px;
    width:290px;
    background:#fff;
    padding-bottm:50px;
}
.live-chatbox-wrap #sendmessage input{
    border
}
.live-chatbox-wrap #sendmessage input{
    background:#fff;
    margin:21px 0 0 21px;
    border:none;
    padding:0;
    font-size:14px;
    font-family:"Open Sans", sans-serif; 
    font-weight:400px;
    color:#aab8c2;
}
.live-chatbox-wrap #sendmessage input:focus{
     outline: 0;
}
.live-chatbox-wrap #sendmessage button{
    background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0 -41px no-repeat;
    width:30px;
    height:30px;
    position:absolute;
    right: 15px;
    top: 23px;
    border:none;
}
.live-chatbox-wrap #sendmessage button:hover{
    cursor:pointer;
    background-position: 0 0 ;
}
.live-chatbox-wrap #sendmessage button:focus{
     outline: 0;     
}

.live-chatbox-wrap #close{
    position:absolute;
    top: 8px;   
    opacity:0.8;
    right: 10px;
    width:20px;
    height:20px;
    cursor:pointer;
}
.live-chatbox-wrap #close:hover{
    opacity:1;
}
.cx, .cy{
    background:#fff;
    position:absolute;
    width:0px;
    top:15px;
    right:15px;
    height:3px;
    -webkit-transition: all 250ms ease-in-out;
       -moz-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
         -o-transition: all 250ms ease-in-out;
            transition: all 250ms ease-in-out;
}
.cx.s1, .cy.s1{ 
    right:0;    
    width:20px; 
    -webkit-transition: all 100ms ease-out;
       -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
         -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
}
.cy.s2{ 
    -ms-transform: rotate(50deg); 
    -webkit-transform: rotate(50deg); 
    transform: rotate(50deg);        
    -webkit-transition: all 100ms ease-out;
       -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
         -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
}
.cy.s3{ 
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);        
    -webkit-transition: all 100ms ease-out;
       -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
         -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
}
.cx.s1{ 
    right:0;    
    width:20px; 
    -webkit-transition: all 100ms ease-out;
       -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
         -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
}
.cx.s2{ 
    -ms-transform: rotate(140deg); 
    -webkit-transform: rotate(140deg); 
    transform: rotate(140deg);       
    -webkit-transition: all 100ms ease-out;
       -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ease-out;
         -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
}
.cx.s3{ 
    -ms-transform: rotate(135deg); 
    -webkit-transform: rotate(135deg); 
    transform: rotate(135deg);       
    -webkit-transition: all 100ease-out;
       -moz-transition: all 100ms ease-out;
        -ms-transition: all 100ms ease-out;
         -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
}
.live-chatbox-wrap #chatview, .live-chatbox-wrap #sendmessage { 
overflow:hidden; 
border-radius:6px; 
}
.dsk-hide{
    display: none !important;
   }

/*********************/

/*cstm accordion*/
.faq-accordion {
    max-width: 100%;
    width: 100%;
    margin: 0px auto;    
}
.acrdn-card {
    margin-bottom: 20px;
    border: 1px solid #36496c;
    border-radius: 12px;
    background: #dfeaff;
   /* overflow: hidden;*/
}
.faq-accordion .acrdn-card,
.faq-accordion .acrdn-card:last-child .acrdn-header {
  border: none;
}

.faq-accordion .acrdn-header {
  border-bottom-color: #EDEFF0;
  background: transparent;
  position: relative;
}

.faq-accordion .fa-stack {
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.faq-accordion .btn {
    width: 100%;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background: #36496c;
    color: #fff;
    padding-right: 100px;
}
.faq-accordion .btn:focus{
    outline: none;
    box-shadow: none;
}
.acrdn-header h3 {
    font-size: 18px;
    min-height: 36px;
    position: relative;
    padding-left: 45px;
    align-items: center;
    display: flex;
    white-space: normal;
    text-align: left;
    color: #fff;
    margin-bottom: 0px;
}
.faq-accordion .btn-link:hover,
.faq-accordion .btn-link:focus {
  text-decoration: none;
}


.faq-accordion .fa-inverse {
    color: #36496c;
}
.acrdn-action-btns {
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    padding: 0;
}
.acrdn-action-btns li {
    margin-right: 6px;
}
.acrdn-action-btns li:last-child {
    margin-right: 0px;
}

.action_btn {
    width: 30px;
    height: 30px;
    background: #36496c;
    color: #fff;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.primary-btn {
    background: #fff;
    color: #36496c;
}
.primary-btn:hover{
    color: #36496c;
    opacity: 0.8;
}
.danger-btn {
    background: #dc3545;
    color: #fff;
}
.danger-btn:hover {
    color: #fff;
    opacity: 0.8;
}
.btn-warning{
    background: #ecb50c;
    color: #fff;
}
.btn-warning:hover{
     color: #fff;
    opacity: 0.8;
}





