

.custom-left-content img {
    width: 100% !important;
    height: 235px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
.listing-head {
    display: block;
    position: relative;
}
.right-content h4.padding-rt {
    padding-right: 70px;
}
.right-content h4 {
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}
.listing-action-btns {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.right-content ul.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.price-review-detail p, .price-review-detail span {
    font-size: 14px;
    display: inline-block;
}
.right-content hr {
    margin: 12px 0px;
}


.right-content p.detail {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    color: #6d6d6d;
    margin-bottom: 10px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 55px;
}
.social-links.listing-social {
    margin-bottom: 12px;
}
.social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.social-links li {
    padding: 0px 10px;
}
.social-links li:last-child {
    padding-right: 0;
}
.right-content ul.inner-list {
    position: relative;
    padding: 0 6px 0 15px;
}
.right-content ul.rating li a {
    color: #eea31e;
    font-size: 14px;
}
.right-content p.review {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 0px;
}
.right-content ul.inner-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.listing-social.social-links li a {
    color: #333;
}
.social-links li a {
    font-size: 15px;
    color: #aeb1b7;
}
.mini-btn-wrap .cstm-btn{
	font-size: 11px;
	padding: 7px 17px;
}
.social-links li:first-child {
    padding-left: 0;
}
.list-icon-btn {
    height: 35px;
    width: 35px;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    color: #35486b;
    font-size: 16px;
    border: 2px solid #36496c;
    font-weight: 400;
    font-size: 16px;
}
.list-icon-btn:hover{
    background: #36496c;
    color: #fff;
}
.list-icon-btn.fav-active{
    color: red;
    border-color: red
}
.list-icon-btn.fav-active:hover{
    background: red;
    color: #fff;
}
.cstm-btn.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.cstm-btn.btn-danger:hover, .cstm-btn.btn-danger:focus{
	background: transparent;
	color:#dc3545; 
}

/*cstm-checkboxes*/

.checkbox-input-wrap {
    padding: 15px;
    background: #f2f2f3;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 8px;
    position: relative;
}
.category-checkboxes.category-title {
    font-size: 17px;
}
.category-checkboxes label {
    padding-left: 50px;
    line-height: 30px;
    margin-bottom: 0px;
    position: relative;
}
.category-checkboxes label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #36496c;
}
.category-checkboxes input:checked ~ label:after {
    display: block;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.category-checkboxes input {
    opacity: 0;
    position: absolute;
}
.category-checkboxes input:checked ~ label:before {
    background: #eda208;
}
.category-checkboxes label::after {
    height: 30px;
    width: 30px;
    content: "✔";
    font-size: 18.6667px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: rgb(255, 255, 255);
    display: none;
}
.payment-table label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 11px;
}



.custom-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #11111169;
    z-index: 99;
    display: none;
}
.custom-loading {
    position: fixed !important;
    height: 100vh;
    background: rgba(0,0,0,0.8) !important;
    text-align: center;
    z-index: 9999999;
}



.loader5 {
  display:inline-block;
  width: 0;
    height:0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #36496c;
  border-top: 30px solid #eda208;
   -webkit-animation: loader5 1.6s ease-in-out infinite alternate;
   animation: loader5 1.6s ease-in-out infinite alternate;
   position: absolute;
   top: 50%;
   left: 46%;
   -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
}

@keyframes loader5 {
   from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
   to {-webkit-transform: rotate(720deg);transform: rotate(720deg);}
}
@-webkit-keyframes loader5 {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(720deg);}
}
.inn-form-group label{
    color: #6d6d6d;
    font-weight: 500;
    font-size: 15px;
}

.error {
    display: block;
    color: #c22;
    position: absolute;
    left: 0;
    top: 100%;
    font-weight: 400!important;
    font-size:12px;
}
form .form-group {
    margin-bottom: 20px;
    position: relative;
}