/*reset css*/
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*fonts included here*/

/*@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap');
/*********************/
/* Google Material icons */

a {
    cursor: pointer;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

figure {
    line-height: 0;
}
a:hover, a:focus{
    text-decoration: none;
  outline: none;
}

body {
    /*font-family: 'Raleway', sans-serif !important;*/
    font-family: 'Poppins', sans-serif !important;
    font-weight: normal;
    overflow-x: hidden;
    position: relative;
}
body.gray-bg{
    background: #f6f7f8;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
button,
.service-item {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.d-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.d-i-f {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.f-d-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.f-d-r-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.a-i-c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.a-i-f-e {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.j-c-c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.j-c-s-b {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.hide{
    display: none;
}
.j-c-f-e {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.j-c-s-e {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.no-gutters [class^="col-"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.color-white {
    color: #fff;
}

.no-margin {
    margin: 0 !important;
}

.mr-tp-20 {
    margin-top: 20px;
}

.no-padding {
    padding: 0 !important;
}

.mob-block {
    display: none;
}

/*a.normal-link {
    font-size: 16px;
    color: #FF1D25;
    text-decoration: underline;
}

a.normal-link:hover {
    text-decoration: none;
    color: #FF1D25;
}*/

a,
span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

strong {
    font-weight: bold;
}

a {
    color: #333333;
}

a,
.main-button,
.fa {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    /*cursor:url(../images/cursor.png), auto !important;*/
}

a:hover,
a:focus,
button:focus {
    text-decoration: none;
    outline: none;
    color: #f2b51e;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

::-webkit-input-placeholder {
    color: #525252 !important;
    opacity: 1;
    font-size: 16px;
    font-weight: 400;
}

::-moz-placeholder {
    color: #525252 !important;
    opacity: 1;
    font-size: 16px;
    font-weight: 400;
}

:-ms-input-placeholder {
    color: #525252 !important;
    opacity: 1;
    font-size: 16px;
    font-weight: 400;
}

::-ms-input-placeholder {
    color: #525252 !important;
    opacity: 1;
    font-size: 16px;
    font-weight: 400;
}

::placeholder {
    color: #525252 !important;
    opacity: 1;
    font-size: 16px;
    font-weight: 400;
}

form label {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    margin-bottom: 17px;
}

img {
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.dropdown-menu {
    padding: 0;
    overflow: hidden;
    /*border-radius: 0;
    min-width: 100px;*/
}
.dropdown-divider{
    margin: 0px;
}

p {
    font-size: 17px;
    color: #4c4d50;
    font-weight: 400;
}

.row::before,
.row::after {
    display: none;
}

h1 {
    font-size: 36px;
    line-height: normal;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    line-height: normal;
    color: #333333;
}

h3 {
    font-size: 20px;
    line-height: bold;
    color: #333333;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    color: #333333
}

a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul {
    list-style: none;
}

body.modal-open{
    padding-right: 0px !important;
    margin-right: 17px;
}

/***************/

.custom-left-content img {
    width: 100% !important;
    height: 235px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
.listing-head {
    display: block;
    position: relative;
}
.right-content h4.padding-rt {
    padding-right: 70px;
}
.right-content h4 {
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}
.listing-action-btns {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.right-content ul.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.price-review-detail p, .price-review-detail span {
    font-size: 14px;
    display: inline-block;
}
.right-content hr {
    margin: 12px 0px;
}


.right-content p.detail {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    color: #6d6d6d;
    margin-bottom: 10px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 55px;
}
.social-links.listing-social {
    margin-bottom: 12px;
}
.social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.social-links li {
    padding: 0px 10px;
}
.social-links li:last-child {
    padding-right: 0;
}
.right-content ul.inner-list {
    position: relative;
    padding: 0 6px 0 15px;
}
.right-content ul.rating li a {
    color: #eea31e;
    font-size: 14px;
}
.right-content p.review {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 0px;
}
.right-content ul.inner-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.listing-social.social-links li a {
    color: #333;
}
.social-links li a {
    font-size: 15px;
    color: #aeb1b7;
}
.mini-btn-wrap .cstm-btn{
	font-size: 11px;
	padding: 7px 17px;
}
.social-links li:first-child {
    padding-left: 0;
}
.list-icon-btn {
    height: 35px;
    width: 35px;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    color: #35486b;
    font-size: 16px;
    border: 2px solid #36496c;
    font-weight: 400;
    font-size: 16px;
}
.list-icon-btn:hover{
    background: #36496c;
    color: #fff;
}
.list-icon-btn.fav-active{
    color: red;
    border-color: red
}
.list-icon-btn.fav-active:hover{
    background: red;
    color: #fff;
}
.cstm-btn.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.cstm-btn.btn-danger:hover, .cstm-btn.btn-danger:focus{
	background: transparent;
	color:#dc3545; 
}
