.cstm-btn {
    background: #35486b;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #35486b;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 40px;
    text-align: center;
    border-radius: 8px;
    line-height: normal;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
}
.cstm-btn:hover, .cstm-btn:focus {
    color: #35486b;
    background: transparent;
}

.nav-tabs .nav-link {
    border: none;
    color: #fff;
    background: #434445;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover{
	background: #eda208;
	color: #fff;
}

.tab-content{
	   border-top: 1px solid #eda108;
}

.table td, .table th{
	white-space: normal;
}

.upcmg-evnt-head h3 {
    font-size: 20px;
    font-weight: bold;
    color: #eda208;
    margin-bottom: 10px;
}

.upcmg-evnt-head h2 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #36496c;
}

/****************/
.table .action-btn {
    background: #eda108;
    color: #fff;
    border-radius: 4px;
}
table label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.table .event-status {
    font-size: 18px;
}
.event-status.color-green{
  color: green;
}
.table tr td{
  vertical-align: middle;
}
.table .action-td {
    width: 80px;
}

.amt-list-wrap .rec-heading {
    font-size: 16px;
    margin-bottom: 3px;
}
.pkg-listing {
    position: relative;
    font-size: 14px;
    color: #333;
    margin: 10px 0px;
    font-weight: 400;
    padding-left: 20px;
    line-height: 14px;
}
.pkg-listing:after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #36496c;
    top: 4px;
    left: 0;
}
.amt-list-wrap {
    padding: 10px;
    background: #ececec;
    margin: 5px 0px;
    border-radius: 4px;
    height: 100%;
}

/*payment css*/

.order-list-table.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-weight: bold;
    color: #333;
}
.order-list-table {
    border: 1px solid #d1d1d1;
}
.order-summary-wrap {
    margin-top: 40px;
    display: block;
}
.order-sum-card {
    background: #f3f3f3;
    padding: 10px 20px;
    border-radius: 6px;
    height: 100%;
}
.rec-heading {
    font-size: 22px;
    font-weight: 600;
    color: #eda009;
    margin-bottom: 20px;
}

.billing-address-line {
    display: block;
    position: relative;
}
.billing-address-line p {
    position: relative;
    display: block;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 5px;
}
.payment-table {
    padding: 0px;
    border-radius: 5px;
    text-align: left;
}
.payment-sidebar .table td, .payment-sidebar .table th {
    border: 0;
    padding: 9px 0px;
}

.payment-sidebar .table td {
    text-align: right;
}
.payment-sidebar.cstm-sidebar th p {
    font-size: 12px;
    color: #999;
}

.table.payment-table th {
    color: #555;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}
.table.payment-table tr {
    border-top: 1px solid #dedddd;
}

.payment-sidebar .total-price-row th, .payment-sidebar .total-price-row td {
    font-weight: 600;
    font-size: 16px;
}
#cat_Modal .modal-dialog {
    max-width: 1000px;
}
.billing-address-line p span {
    position: absolute;
    left: 0;
    top: 5px;
    width: 20px;
    font-size: 14px;
}

.card-heading h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.order-booking-card .card-heading h3:after {
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
}
.card-heading h3:after {
    position: absolute;
    content: "";
    left: 0;
    height: 2px;
    width: 100px;
    background: #eda208;
    bottom: 0;
}
.first-user-form select.form-control:not([size]):not([multiple]){
    height: 40px;
        padding: 6px 20px;
}
.first-user-form .input-field-wrap .form-control {
    height: 40px;
    padding: 6px 20px;
}
#thirdEventCreate {
width: 100%;
}
.eventStatus{
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
/*responsive css*/
@media(max-width:1199px){
    .card .card-block, .card .card-body {
    padding: 20px 15px;
}
}


.modal-dialog button.close {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #d9534f;
    top: -10px;
    right: -1px;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    z-index: 11;
}

.event-status.color-red {
    color: red;
}


/*Event Planning css*/
.event-planning-navigation{
    min-height: 400px;
    background: #fff;
}

.event-planning-navigation ul {
    position: relative;
    width: 100px;
    height: 100px;
    list-style-type: none;
    padding: 0;
    margin: 170px auto;
}
.event-planning-navigation li:first-child {
    width: 150px;
    height: 150px;
    background: #d1d1d1;
    border: 2px solid #34476a;
    left: -27px;
    top: -25px;
    padding: 10px;
    color: #34486a;
}

.event-planning-navigation li {
    position: absolute;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    transition: all 2s linear;
    text-align: center;
    width: 100px;
    height: 100px;
    background: #34486a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eda009;
}
.event-planning-navigation li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eda009;
}
.event-planning-navigation li .plan-nav-icon{
    font-size: 20px;
}

#firstUserModal .modal-dialog {
    max-width: 1100px;
    width: 90%;
    margin: 0px auto;
    margin-top: 30px;
}
/*.modal-open #firstUserModal.modal{
    display: flex !important;
    align-items: center;
}*/
#firstUserModal.modal .modal-body{
    padding:0px;
}
#firstUserModal .about-event-img {
    height: 100%;
    margin-bottom: 0;
}
#firstUserModal .modal-header{
    border: none;
}
#firstUserModal .about-event-img {
    height: 100%;
    width: 100%;
    position: relative;
    }
    #firstUserModal .about-event-img:after{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
    }
 #firstUserModal .modal-dialog button.close{
    top: -15px;
       right: -15px;
    }
#firstUserModal .form-img-cont {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 111;
    padding: 15px;
}
#firstUserModal .form-img-cont p {
    font-size: 21px;
    font-weight: 600;
}
.form-img-cont h2 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 36px;
}
#firstUserModal .about-event-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.first-user-form {
    padding: 20px;
    padding-left: 0;
}


.input-field-wrap {
    position: relative;
}
.form-group label {
    margin-bottom: 7px;
    font-weight: 600;
}
.input-field-wrap .form-control {
    height: 50px;
}
.input-field-wrap .input-icon {
    right: 5px;
    top: 5px;
}










.multi_step_form #msform #progressbar {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.multi_step_form #msform #progressbar li{
  list-style-type: none;
  color: #99a2a8;
  font-size: 9px;
  width: calc(100%/4);
  float: left;
  position: relative;
  font-size: 16px;
  color: #333;
}
.multi_step_form.haveFiveSteps #msform #progressbar li {
     width: calc(100%/5);
    }

.multi_step_form #msform #progressbar li:before {
  content: "1";
  /*font: normal normal normal 30px/50px;*/
  font-size: 13px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: #eaf0f4;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  font-weight: 500;
  color: #333;
  text-align: center;
  /*font-family: 'Font Awesome 5 Free' !important;*/
}
.multi_step_form #msform #progressbar li:nth-child(2):before {
  content: "2";
}
.multi_step_form #msform #progressbar li:nth-child(3):before {
  content: "3";
}
.multi_step_form #msform #progressbar li:nth-child(4):before {
  content: "4";
}
.multi_step_form #msform #progressbar li:nth-child(5):before {
  content: "5";
}
.multi_step_form #msform #progressbar li:after {
  content: '';
  width: 100%;
  height: 4px;
  background: #eaf0f4;
  position: absolute;
  left: -50%;
  top: 14px;
  z-index: -1;
}
.multi_step_form #msform #progressbar li:last-child:after {
  width: 150%;
}
.multi_step_form #msform #progressbar li.active {
  color: #35486b;
}
.multi_step_form #msform #progressbar li.active:before, .multi_step_form #msform #progressbar li.active:after {
  background: #35486b;
  color: white;
}
.multi_step_form #msform .action-button {
  background: #5cb85c;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 130px;
  font: 700 14px/40px "Roboto", sans-serif;
  border: 1px solid #5cb85c;
  margin: 0 5px;
  text-transform: uppercase;
  display: inline-block;
}


.pac-container.pac-logo{
    z-index: 9999999;
}


.vendor-category {
    padding: 6px;
    background: #f2f2f3;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 8px;
}
.category-checkboxes.category-title {
    font-size: 16px;
}
.formFileds {
    min-height: 300px;
}
.card.equal-card {
    height: 100%;
    margin-bottom: 0;
}
.coming-event-img {
    width: 135px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 20px;
    background: #d9e1f1;
    padding: 5px;
}
.upcmg-evnt-head {
    display: flex;
    border-bottom:1px solid #e2e2e2;
}
.coming-event-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.coming-evet-des {
    width: calc(100% - 155px);
}
#myTabContent{
    padding:0px;
}
#myTabContent table h4 {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
#myTabContent .upcmg-evnt-head{
    border: none;
}
.hire-status {
    background: transparent;
    font-size: 11px;
    font-weight: bold;
    border: 2px solid #eda208;
    text-transform: uppercase;
    color: #eda208;
    padding: 4px 11px;
    text-align: center;
    border-radius: 6px;
    line-height: normal;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
}
/*nav.evt-plan-navigation {
    min-height: 455px;
    position: relative;
}*/
.custom-file{
    height: auto;
}
.main-outer-tab .card-block {
    min-height: 300px;
}
.event-detail-table{
	min-width: 500px;
}

/*.select2-selection.select2-selection--multiple {
    background: #f4f7fa;
    padding: 10px 20px;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f4f7fa;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 42px;
}*/

/*responsive css*/
@media(max-width: 480px){
 .countdown-timer-container .count-down-timer li {
    width: 58px;
    margin-right: 5px;
    padding: 4px;
    font-size: 10px;
}
nav.evt-plan-navigation {
    transform: scale(0.7);
}
}

